<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SpiderSettingSection" type="LeetcodeSpiderCNBlogsGrandYang.Configuration.SpiderSettingSection, LeetcodeSpiderCNBlogsGrandYang"/>
  </configSections>

  <SpiderSettingSection ProxyAddress="http://wspgpo01:80" ProxyUserName="zhaoh" ProxyPassword="" ProxyDomain="anpost" />
</configuration>